<% @author_title = "All authors" %>
<div class= "authors index">
    <h2> Authors </h2>

<table class="table">
  
  <% @authors.each do |author| %>
    <tr>
      <td><%= author.name %></td>
      
      <td class="actions">
        <%= link_to("Show", author_path(author), :class => 'action show') %>
        <%= link_to("Edit", edit_author_path(author), :class => 'action edit') %>
        
      </td>
    </tr>
  <% end %>
</table>
</div>