

<%= link_to("<< Back to List", books_path, :class => 'back-link') %>

<div class="books show">
  <h2>Show book</h2>

  <table summary="book detail view">
    <tr>
      <th>Name</th>
      <td><%= @author.name %></td>
    </tr>
  </table>
</div>