<div class= "books index">
    <h2> All Users </h2>

<table class="listing" summary="Book list">
  <tr class="header">
    <th>EMAIL</th>

  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    
    <td class="actions">
      <%= link_to("Show", user_path(user)) %>
      <%= link_to("Edit", edit_user_path(user), :class => 'action edit') unless !current_user.admin?%>
      <%= link_to("Delete", user_path(user), method: :delete, :class => 'action delete') unless !current_user.admin?%>
    </td>
  </tr>
  <% end %>
</table>
</div>




