<%= form_for(@reviews) do |f| %>
   

    <table summary="review form fields">
      <tr>
        <th>Rating</th>
        <td><%= f.text_field(:rating) %></td>
      </tr>
      <tr>
        <th>Review</th>
        <td><%= f.text_field(:review) %></td>
      </tr>
     
    </table>

    <div class="form-buttons">
      <%= f.submit("Create review") %>
    </div>

  
<% end %>