
<% if object.errors.any? %>
  <div class="container text-center">
    <h5 class="lead"><mark> <%= pluralize(object.errors.count, "error")%>  must be fixed before proceeding</mark></h5>
    <ul class="error-list">
      <% object.errors.full_messages.each do |error| %>
        <ul class="error-item"> 
        <%= error %> 
        </ul>
      <% end %>
    </ul>
  </div>
<% end %>